---
import ProjectLayout from '../../../../layouts/ProjectLayout.astro';
import Sidebar from '../../../../components/Sidebar.astro';
---


<ProjectLayout title="Sources">
        <h1>Manual Search</h1>
        <form>
            <div class = "FormGroup">
                <label>Source Type</label>
                <div id = "CustomSelect"> <!-- This is necesarry for styling the select menu. -->
                    <select id = "SourceType">
                        <option value = "0">Artwork</option>
                        <option value = "1">Audio Recording</option>
                        <option value = "2">Bill</option>
                        <option value = "3">Blogpost</option>
                        <option value = "4">Book</option>
                        <option value = "5">Book Section</option>
                        <option value = "6">Case</option>
                        <option value = "7">Software</option>
                        <option value = "8">Conference Paper</option>
                        <option value = "9">Dataset</option>
                    </select>
                </div>
            </div>
            <div>
                <label for = "Title"></label>
                <input id = "Title" type = "text" placeholder="Source Title">
            </div>
            <button id = "ToggleManual">Auto-citation</button>
        </form>
</ProjectLayout>
<style>
    #Page {
        position: absolute;
        right: 0;
        width: 90vw;
        text-align: center;
        color: white;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .FormGroup {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    #CustomSelect {
        display: flex;
        justify-self: center;
        position: relative;
        min-width: 250px;
        height: 50px;
    }

    select {
        border: none;
        appearance: none;
        padding: 0 30px 0 15px;
        width: 100%;
        color: black;
        font-size: medium;
        background-color: white;
        transition: 0.2s;
    }

    

    label {
        color: white;
        margin: 1.5rem;
    }

    h1 {
        color: white;
        position: relative;
        top: 33.5vh;
    }

    input[type="text"] {
        background-color: transparent;
        border: solid 1px grey;
        height: 100%;
        border-radius: 5px;
        transition: 0.2s;
        color: grey;
        padding: 0.4em;
        width: 30%;
        font-size: medium;
        position: relative;
        top: 0.3vh;

        box-sizing: border-box;
        padding: 0.3rem;
    }

    input[type="text"]:focus {
        scale: 1.02;
        border: white;
        color: white;
        margin-right: 0.7rem;
    }

    input[type="submit"] {
        background-color: var(--color-primary-400);
        transition: 0.2s;
        cursor: pointer;
        height: 100%;
        width: 5%;
        border: none;
        border-radius: 5px;
    }

    input[type="submit"]:hover {
        background-color: var(--color-primary-100);
        scale: 1.1;
        color: white;
        margin-left: 0.3rem;
    }

    #SearchBar {
        position: absolute;
        top: 40vh;
    }

    #ToggleManual {
        position: relative;
        top: 39vh;
        right: 0.15rem;
        background-color: var(--color-primary-400);
        transition: 0.2s;
        cursor: pointer;
        height: 45%;
        width: 10%;
        border: none;
        border-radius: 5px;
    }

    #ToggleManual:hover {
        background-color: var(--color-primary-100);
        scale: 1.1;
        color: white;
    }

</style>
<!-- list of sources (do not do until the database is fully synced) -->