---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---


<Layout title="Sources">

<form action="/submit" method="POST">
  <label for="type of source" id="form">Type of Source:</label>
  <div class="dropdown">
    <button class="dropdown-toggle" id="selected-item-button">Dropdown Menu</button>
    <ul class="dropdown-menu">
      <li><a href="#">Book</a></li>
      <li><a href="#">Journal</a></li>
      <li><a href="#">Website</a></li>
    </ul>
  </div>
  <br>
  <label for="last name" id="form">Author Last Name:</label>
  <input type="text" name="last name" required>
  <br>
  <label for="first name" id="form">Author First Name:</label>
  <input type="text" name="first name" required>
  <br>
  <label for="place of publication" id="form">Place of Publication:</label>
  <input type="text" name="place of publication" required>
  <br>
  <label for="publisher" id="form">Publisher:</label>
  <input type="text" name="publisher" required>
  <br>
  <label for="year" id="form">Publication Year:</label>
  <input type="text" name="year" required>
  <br>
  <button type="submit">Submit</button>
</form>

<!-- list of sources (do not do until the database is fully synced) -->

</Layout>

<style>
    #form {
        color: white;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-toggle {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 8px 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 0;
    }

    .dropdown-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>