---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import type SyllabusItem from '../../lib/syllabus';
import { get_user_session } from '../../firebase/server';

let task1 : SyllabusItem = {
  task: "Get at least 20 notecards",
  time: 12
};

let task2 : SyllabusItem = {
  task: "Get at least 5 sources",
  time: 4
};

const user = await get_user_session(Astro.cookies);
if(!user) {
  return Astro.redirect("/signin");
}
---

<ProjectLayout title="Syllabus">
  <div id="Page">
    <p> for all syllabus due dates, see /todo</p>
  </div>
</ProjectLayout>

<style>
  #Page {
      position: absolute;
      right: 0;
      margin-top: 1rem;
      width: calc(100vw - 1rem - 5vw);
      max-width: calc(100vw - 1rem - 12vw);
      text-align: center;
      align-items: center;
    }

    .checklist {
      display: inline-block;
      border: 3px solid black;
      border-collapse: collapse;
    }

    .check {
      flex-direction: row;
 
    }

    td {
      text-align: left;
      padding: 0.5rem;
      background-color: var(--color-surface-300);
      border: solid 3px black;
    }

    p {
      font-size: 1.5rem;
    }
</style>