---
import ProjectLayout from '../../../layouts/ProjectLayout.astro';
import { getSessionUser } from '../../../firebase/server';
import SourceSearch from '../../../components/SourceSearch.svelte';
const user = await getSessionUser(Astro.cookies);
if(!user) {
  return Astro.redirect("/signin");
}


---


<ProjectLayout title="Sources">
    <div id="Page">
        <a href="sources/add">Add Source</a>
    </div>
    
    <div class="source-container">
        <div class="filter-items" >
        </div>
        
        <div class="source-items">
            
        </div>
    </div>
</ProjectLayout>


<style>
    #Page {
        position: absolute;
        right: 0;
        margin-top: 1rem;
        width: calc(100vw - 2rem - 5vw);
        max-width: calc(100vw - 2rem - 10vw);
        text-align: center;
    }

    

    h1 {
        color: white;
        position: relative;
        top: 33.5vh;
    }

    
    a {
        background-color: var(--color-primary-200);
        padding: 1rem;
        border-radius: 0.4rem;
        text-decoration: none;
        color: white;
        font-weight: 800;
    }
    
    a:hover {
        background-color: var(--color-primary-300);
    }
</style>
