---
import ProjectLayout from '../../../layouts/ProjectLayout.astro';
import Sidebar from '../../../components/Sidebar.astro';
import { getSessionUser } from '../../../firebase/server';

const user = await getSessionUser(Astro.cookies);
if(!user) {
  return Astro.redirect("/signin");
}

---


<ProjectLayout title="Sources">
    <div id = "search">
        <h1>Source Search</h1>
        <div class = "FormGroup" id="SearchBar">
            <input type="text" placeholder="Enter a URL, ISBN, DOI, PMID, arXiv ID, or title">
            <input type="submit" value="Cite">
        </div>
        <a id = "ToggleManual" href="./sources/manual/">Manual Citation</a>
    </div>
</ProjectLayout>

<style>
    #Page {
        position: absolute;
        right: 0;
        width: calc(100vw - 2rem - 15vw);
        max-width: calc(100vw - 2rem - 15vw);
        text-align: center;
    }

    .FormGroup {
        height: 3em;
        padding: 1rem 0rem;
        width: calc(100vw - 2rem - 15vw);
        max-width: calc(100vw - 2rem - 15vw);
        text-align: center;
    }

    h1 {
        color: white;
        position: relative;
        top: 33.5vh;
    }

    input[type="text"] {
        background-color: transparent;
        border: solid 1px grey;
        height: 100%;
        border-radius: 5px;
        transition: 0.2s;
        color: grey;
        padding: 0.5em;
        width: 30%;
        font-size: medium;
        position: relative;
        top: 0.3vh;

        box-sizing: border-box;
        padding: 0.3rem;
    }

    input[type="text"]:focus {
        scale: 1.02;
        border: white;
        color: white;
        margin-right: 0.7rem;
    }

    input[type="submit"] {
        background-color: var(--color-primary-400);
        transition: 0.2s;
        cursor: pointer;
        height: 100%;
        width: 5%;
        border: none;
        border-radius: 5px;
    }

    input[type="submit"]:hover {
        background-color: var(--color-primary-100);
        scale: 1.1;
        color: white;
        margin-left: 0.3rem;
    }

    #SearchBar {
        position: absolute;
        top: 40vh;
    }

    #ToggleManual {
        position: relative;
        top: 39vh;
        background-color: var(--color-primary-400);
        transition: 0.2s;
        cursor: pointer;
        border: none;
        border-radius: 0.4rem;
        text-decoration: none;
        padding: 0.2rem;
    }

    #ToggleManual:hover {
        background-color: var(--color-primary-100);
        scale: 1.1;
        color: white;
    }

</style>
<!-- list of sources (do not do until the database is fully synced) -->