---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("__session")?.value;

if(!sessionCookie){
  return Astro.redirect("/signin");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);
if (!user) {
  return Astro.redirect("/signin");
}
---
<Layout title="Dashboard">
  <div id="container">
    <div id="board">
      <h1>Welcome, <span>{user.displayName}</span></h1>
      <img src={user.photoURL} id="profile-pic" alt="Profile Picture"/>
      <p>Have a great day!</p>
      <form action="/api/auth/signout">
        <button type="submit">Sign Out</button>
      </form>
      <br>
      <form action="/">
        <button type="submit">Back to Home</button>
      </form>
    </div>
  </div>
</Layout>

<style>
  html {
    color: white;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
  }
  #board {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: solid 2px rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
  }
  h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem 0;
  }
  button {
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--color-surface-mixed-400);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.8rem;
    border: none;
    font-size: 1rem;
    color: white;
    margin-top: 0.5rem;
  }
  button:hover {
    transform: scale(1.05);
    background-color: #5460E0;
  }
  span {
    color: #00FF7F;
    font-weight: 700;
  }
</style>