---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("__session")?.value;

if(!sessionCookie){
  return Astro.redirect("/signin");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);
if (!user) {
  return Astro.redirect("/signin");
}
---
<Layout title="dashboard">
  <div id="container">
    <div id = "board">
      <h1>Signed in as<span>
        <img src={user.photoURL} style="width: 10%"/>
        {user.displayName}</span></h1>
      <p>Thanks for stopping by.</p>
      <form action="/api/auth/signout">
        <button type="submit">Sign out</button>
      </form>
      <br>
      <form action="/">
        <button type="submit">Back to home</button>
      </form>
    </div>

    <div id = "BGImage">
    </div>
  </div>
</Layout>

<style>
  html {
    color: white;
    
  }
  #container {
    position: relative; /* Set container for positioning */
    height: calc(100vh - var(--navbar-height));
  }
  #pfp {
    transform: scale(0.4); 
  }
  #BGImage {
    background-image: url('/boston_account_signin.png');
    height: calc(100vh - var(--navbar-height));
    background-size: cover;
    width: calc(100vw - 2rem);
    z-index: -1;
    filter: blur(0rem);
    background-size: 150%;
    background-position-y: center;
    filter:blur(1rem);
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  button {
    transition: 0.2s;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 0.3rem;
    width: 5rem;
    height: 3rem;
    border: none;
    font-size: 0.9rem;
  }

  button:hover {
    scale: 1.1;
    background-color: white;
  }

  span {
    color: green;
    font-weight: 900;
    text-decoration: underline;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
  }

  span:hover {
    color: lightgreen;
    scale: 1.05;
  }

  h1 {
    margin: 0;
    font-weight: 300;
  }

  p {
    margin-top: 0.2rem;
  }

  #board {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1.5rem);
    border: solid 3px lightgrey;
    padding: 1rem;
    z-index: 1;
    border-radius: 0.4rem;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
  }
</style>
