---
import Layout from "../layouts/Layout.astro";
---

<Layout title="YAPP">
	<main>
		<img
			class="astro-a"
			src="boston.webp"
			alt="Prudential center under a moon"
		/>
		<h1>The <span class="text-gradient">YAPP</span>ENING</h1>

		<ul role="list" class="link-card-grid">
			<div><a href="https://yappening.github.io"> Documentation </a></div>
			<div>
				<a href="/project/sources">
					Go To Project <strong>→</strong>
				</a>
			</div>
			<div><a href="/account"> User Profile </a></div>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translatex(-50%);
		width: calc(100vw - 2rem);
		overflow-y: hidden;
		max-height: 100vh;
		height: auto;
		z-index: -1;
		filter: blur(0.5rem);
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}


	.link-card-grid {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		padding: 0;
	}

	.link-card-grid div {
		border-radius: 0.4rem;
		background-color: var(--color-surface-mixed-600);
		color: white;
		text-decoration: none;
		padding: 0.8rem;
	}

	.link-card-grid a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.2rem - 1px);
		border-radius: 0.4rem;
		color: white;
		background-color: #121212B3;
	}

	.link-card-grid div {
		display: flex;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		border-radius: 0.4rem;
		background-color: rgba(0,0,0,0.4);
		padding: 3px;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
	}

	.link-card-grid div:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card-grid div:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
		opacity: 75%;
	}
</style>
