<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>Privacy Policy</title>
  </head>
  <body>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid black;
      }

      th {
        text-align: left;
        padding: 10px;
        background-color: #f2f2f2;
      }

      td {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
      }
      h1,
      h2,
      h3 {
        color: #7289da;
      }
      a {
        color: #7289da;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      p {
        margin-bottom: 1rem;
      }
      ul {
        margin-bottom: 1rem;
      }
    </style>

    <div class="container">
      <h1><strong>PRIVACY POLICY</strong></h1>
      <p><strong>Last updated June 24, 2024</strong></p>
      <p>
        This privacy notice for YAPP (&quot;<strong>we</strong>,&quot; &quot;<strong
          >us</strong
        >,&quot; or &quot;<strong>our</strong>&quot;), describes how and why we
        might collect, store, use, and/or share (&quot;<strong>process</strong
        >&quot;) your information when you use YAPP.
        <p>
          <div class="toc-container">
            <h2>Table of Contents</h2>
            <ul class="toc">
              <li>
                <a href="#summary">Summary</a>
              </li>
              <li>
                <a href="#collectedinfo">Information We Collect</a>
              </li>
              <li>
                <a href="#infoprocess">How Information Is Processed</a>
              </li>
              <li>
                <a href="#infoprocess">How Information Is Processed</a>
              </li>
              <li>
                <a href="#infoshare"
                  >When And With Whom Is Your Information Shared?
                </a>
              </li>
              <li>
                <a href="#cookiesandtracking">Cookies & Tracking </a>
              </li>
              <li>
                <a href="#infolen">How Long Your Info Is Stored For</a>
              </li>
              <li>
                <a href="#infosecurity">Information Security</a>
              </li>

              <li>
                <a href="#dnt">DNT Policy</a>
              </li>

              <li>
                <a href="#infocategories">Categories of Personal Information</a>
              </li>
              <li>
                <a href="#policyupdates">Updates To This Privacy Policy </a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>

          <h2 id="summary">Summary</h2>
          <p>
            <strong
              ><em>This summary provides key points from our privacy notice.</em
              ></strong
            >
          </p>
          <p>
            <strong>What personal information do we process?</strong> When you visit,
            use, or navigate YAPP, we process Google Account information, and information
            you choose to disclose to use while using YAPP.
          </p>
          <p>
            <strong>Do we process any sensitive personal information?</strong> We
            do not process sensitive personal information.
          </p>
          <p>
            <strong>Do we collect any information from third parties?</strong> We
            do not collect any information from third parties.
          </p>
          <p>
            <strong>Why do we process your information?</strong> We process your
            information to provide functionalities in our service (authentication,
            database, etc.) for security and fraud prevention, and to comply with
            law.
          </p>
          <p>
            <strong
              >In what situations and with which parties do we share personal
              information?</strong
            > We may share information in specific situations and with specific third
            parties.
          </p>
          <p>
            <strong>How do we keep your information safe?</strong> We have organizational
            and technical processes and procedures in place to protect information
            information, however, no electronic transmission over the internet or
            information storage technology can be guaranteed to be 100% secure, so
            we cannot promise or guarantee that your information is 100% protected.
            Security issues can be reported here: <a
              href="https://github.com/ethqnol/YAPP/security"
            >
              github.com/ethqnol/YAPP/security
            </a>
          </p>

          <h2 id="collectedinfo">Information We Collect</h2>

          <p>
            The personal information we collect includes the following:
            <ul>
              <li>Display Name</li>
              <li>Email Address</li>
              <li>Username</li>
              <li>Google Account Unique Identifier</li>
              <li>Google Account Profile Picture</li>
            </ul>

            This information is disclosed by Google Cloud OAuth when you sign-in
            with our Google Sign-In feature, and we store it as user account
            information.
          </p>

          <p>
            <strong>Sensitive Information:</strong> We do not process sensitive information.
          </p>

          <p>
            <strong>Information automatically collected:</strong>
            We automatically collect certain information when you visit, use, or
            navigate YAPP. This information may include device and usage information,
            such as your IP address, browser and device characteristics, operating
            system, language preferences, referring URLs, device name, country, information
            about how and when you use YAPP, and other technical information. This
            information is primarily needed to maintain the security of YAPP (reCAPTCHA)
            and is used for analytics and reporting purposes that are provided via
            Google Cloud Analytics/Firebase Crashlytics.
          </p>

          <p>
            <strong> Other Information We Collect: </strong> When you create notecards
            or sources using YAPP, information relevant to that creation (i.e. notecard
            contents, source title, etc.) are stored and linked to you.
          </p>
          <h2 id="infoprocess">How Your Information Is Processed</h2>

          <p>
            <strong
              >We process your personal information for a variety of reasons,
              depending on how you interact with our Services, including:</strong
            >
          </p>
          <ul>
            <li>
              <p>
                <strong
                  >To facilitate account creation, authentication, and manage
                  user accounts.</strong
                > We may process your information so you can create and log in to
                your account.
              </p>
            </li>
            <li>
              <p>
                <strong>To deliver services of YAPP to the user.</strong>
                We process your information to provide services like notecard/source
                creation/editing, syncing with your course, to-do/syllabus features,
                and to implement user account settings.
              </p>
            </li>
            <li>
              <p>
                <strong>Protecting YAPP.</strong> We may process your information
                for features like reCAPTCHA or authentication to ensure the legitimacy
                of users and to protect user accounts.
              </p>
            </li>
          </ul>
          <h2 id="infoshare">When And With Whom Is Your Information Shared?</h2>
          <p>
            <strong>Google (and its related services)</strong> We share your data
            with Google who perform services for us and require access to such information
            to do that work. These include, but are not limited to Crashlytics, Google
            Analytics, and OAuth. We have contracts in place with Google which are
            designed to help safeguard your personal information. Read more about
            Google's Cloud Data Addendum: <a
              href="https://cloud.google.com/terms/data-processing-addendum"
            >
              cloud.google.com/terms/data-processing-addendum</a
            >
          </p>
          <p>
            The third parties we may share personal information with are as
            follows:
          </p>

          <ul>
            <li>
              <strong>Cloud Computing Services: </strong>: Google Cloud Platform
            </li>
            <li>
              <strong>Functionality and Infrastructure: </strong> Cloud Firestore,
              Firebase Hosting, and Cloud Storage for Firebase
            </li>
            <li>
              <strong>User Account Authentication: </strong>Google
              Sign-In/Firebase OAuth
            </li>
            <li>
              <strong>Web Analytics: </strong> Google Analytics for Firebase
            </li>
            <li>
              <strong>Website Performance Monitoring: </strong>Firebase
              Crashlytics
            </li>
          </ul>

          <h2 id="cookiesandtracking">Cookies & Tracking</h2>
          <p>
            We use cookies to store a unique identifier (UID) that identifies
            you when you use our website. This allows us to maintain user
            sessions for authentication. Cookies associated with your session
            are automatically deleted when your session expires.
          </p>
          <p>
            Firebase Crashlytics and Google Analytics For Firebase may also
            employ tracking technologies on our application. These 3rd-party
            services are <strong>
              strictly used for improving user experience and website uptime</strong
            >. YAPP does <strong>
              not run ads or sell user information
            </strong>.
          </p>

          <h2 id="infolen">How Long Your Information Is Stored For</h2>

          <p>
            Your personal information is kept for only as long as it is
            necessary. When you delete your account, your information is
            deleted.
          </p>

          <h2 id="infosecurity">Information Security</h2>

          <p>
            We have implemented reasonable technical and organizational security
            measures designed to protect the security of any personal
            information we process, in compliance with Firebase/Google Cloud's
            security guidlines, recommendations, and best practices. We also
            utilize tools like GitHub code scanning and security policy, to
            minimize threats against known CVEs and exploits. However, <strong>
              no electronic transmission or online information storage
            </strong> can be guaranteed to be 100% secure, so we cannot promise or
            guarantee that your information will be 100% safe.
          </p>
          <h2 id="dnt">Do Not Track Policy</h2>
          <p>
            Most web browsers and some mobile operating systems and mobile
            applications include a Do-Not-Track (&quot;DNT&quot;) feature or
            setting you can activate to signal your privacy preference not to
            have data about your online browsing activities monitored and
            collected. At this stage, no uniform technology standard for
            recognizing and implementing DNT signals has been finalized. As
            such, we do not currently respond to DNT browser signals or any
            other mechanism that automatically communicates your choice not to
            be tracked online. If a standard for online tracking is adopted that
            we must follow in the future, that practice will be included in a
            revised version of this privacy notice.
          </p>
          <h2 id="infocategories">Categories of Personal Information</h2>
          <p>
            This table shows the categories of personal information we collect,
            and might have collected from you in the past 12 months.
          </p>
          <table>
            <tr>
              <th>Category</th>
              <th>Examples</th>
              <th>Collected</th>
            </tr>
            <tr>
              <td>A. Identifiers</td>
              <td
                >Contact details (name, phone number, email, etc.), unique
                identifiers (UID), IP address</td
              >
              <td>YES</td>
            </tr>
            <tr>
              <td>B. Personal Information (CA)</td>
              <td
                >Name, contact information, education, employment history,
                financial information</td
              >
              <td>NO</td>
            </tr>
            <tr>
              <td>C. Protected Classifications</td>
              <td
                >Gender, age, race, ethnicity, national origin, other
                demographics</td
              >
              <td>NO</td>
            </tr>
            <tr>
              <td>D. Commercial Information</td>
              <td
                >Transaction information, purchase history, financial details,
                payment information</td
              >
              <td>NO</td>
            </tr>
            <tr>
              <td>E. Biometric Information</td>
              <td>Fingerprints, voiceprints</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>F. Internet Activity</td>
              <td
                >Browsing history, search history, online behavior, interest
                data, interactions with websites/apps/systems/ads</td
              >
              <td>NO</td>
            </tr>
            <tr>
              <td>G. Geolocation Data</td>
              <td>Device location</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>H. Audio/Electronic/Sensory Data</td>
              <td
                >Images, audio, video/call recordings related to business
                activities</td
              >
              <td>NO</td>
            </tr>
            <tr>
              <td>I. Professional/Employment Information</td>
              <td
                >Business contact details (for business services), job title,
                work history, qualifications (if applying for a job)</td
              >
              <td>NO</td>
            </tr>
            <tr>
              <td>J. Education Information</td>
              <td>Student records and directory information</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>K. Inferences from Collected Data</td>
              <td
                >Profiles or summaries about preferences and characteristics
                based on collected information</td
              >
              <td>NO</td>
            </tr>
            <tr>
              <td>L. Sensitive Personal Information</td>
              <td>Not Collected</td>
              <td>NO</td>
            </tr>
          </table>

          <h2 id="policyupdates">Updates To This Privacy Policy</h2>

          <p>
            This privacy notice may be updated in the future. The updated
            version will be indicated by an updated &quot;Revised&quot; date at
            the top of this privacy notice. If changes to content are made in
            this notice, a changelog will be provided.
          </p>
          <h2 id="contact">Contact</h2>
          <p>
            If you have questions or comments about this notice, you can email
            us at:
          </p>
          <p>ewu@commschool.org</p>
          <p>aanand@commschool.org</p>
          <p>saligrama.amith@gmail.com</p>
          <p>mhaber@commschool.org</p>
        </p>
      </p>
    </div>
  </body>
</html>
