---
import { app } from "../firebase/server";
import { getAuth, type DecodedIdToken } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

const auth = getAuth(app);
if (Astro.cookies.has("__session")) {
	const session_cookie = Astro.cookies.get("__session")?.value;

	if (!session_cookie) {
		Astro.cookies.delete("__session");
		return Astro.redirect("/signin");
	}

	const decoded_cookie: Response | DecodedIdToken = await auth
		.verifySessionCookie(session_cookie, true)
		.then((decoded_token) => {
			return decoded_token;
		})
		.catch((error) => {
			console.log(error);
			Astro.cookies.delete("__session");
			return Astro.redirect("/signin");
		});
	return Astro.redirect("/account");
}
---

<Layout title="Sign in">
	<div class="instructions">
	    <div class="message">
			<h2>Sign-in To YAPP</h2>
			<p>Welcome to YAPP! Please sign in using your Google account to continue. </p>
			<p>Note that non-Commonwealth email addresses will be blocked. </p>
		</div>
	    <div class="login">
			<button id="google" class="login-with-google-btn">
				Sign-In With Google
			</button>
			<div class="no-account">Don't have an account?</div>
		</div>
	</div>
</Layout>

<style>
	body {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
			Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
			"Helvetica Neue", sans-serif;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.instructions {
	    border: 2px solid var(--color-surface-500); 
		background-color: var(--color-surface-mixed-300); 
		padding: 1rem;
		border-radius: 4px;
		text-align: center;
		position: relative;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 40%;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.login {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding-left: 2rem;
	}

	.message {
    	border: 2px solid var(--color-surface-500); 
    	padding: 2rem;
    	border-radius: 4px;
    	text-align: center;
        width: 50%;
        color: #333;
        background-color: #0073e6;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
	}

	h2 {
		color: #ffffff;
		margin: 0 0 1rem 0;
	}

	p {
		color: #ffffff;
		font-size: 1rem;
	}

	.no-account {
		color: #99a;
		text-decoration: underline;
		font-size: 0.9rem;
	}
	
	.no-account:hover{
	   cursor: pointer;
	}
	
    .no-account:hover::after {
        white-space: pre-wrap;
        content: 'An account is automatically created for each new sign-in :D';
            position: absolute;
        bottom: 22%;
        left: 78%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 0.3rem 0.6rem;
        border-radius: 4px;
        font-size: 0.8rem;
        white-space: nowrap;
        z-index: 1;
        opacity: 1;
        transition: opacity 0.3s;
    }

	.login-with-google-btn {
		transition: background-color 0.3s, box-shadow 0.3s;
		padding: 12px 16px 12px 42px;
		border: none;
		border-radius: 3px;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
		color: #555555;
		font-weight: 550;
		font-size: 14px;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
		background-color: white;
		background-repeat: no-repeat;
		background-position: 12px 11px;
	}

	.login-with-google-btn:hover {
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.10), 0 2px 20px rgba(20, 20, 20, 0.65);
		cursor: pointer;
	}

	.login-with-google-btn:active {
		background-color: #eeeeee;
	}

	.login-with-google-btn:focus {
		outline: none;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
	}

	.login-with-google-btn:disabled {
		filter: grayscale(100%);
		background-color: #ebebeb;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
		cursor: not-allowed;
	}
</style>


<script>
	import {
		getAuth,
		inMemoryPersistence,
		GoogleAuthProvider,
		signInWithPopup,
	} from "firebase/auth";
	import { app } from "../firebase/client";

	const auth = getAuth(app);
	auth.setPersistence(inMemoryPersistence);

	const googleSignin = document.querySelector("#google") as HTMLButtonElement;
	googleSignin.addEventListener("click", async () => {
		const provider = new GoogleAuthProvider();
		const userCredential = await signInWithPopup(auth, provider);
		const idToken = await userCredential.user.getIdToken();
		const res = await fetch("/api/auth/signin", {
			headers: {
				Authorization: `Bearer ${idToken}`,
			},
		});

		if (res.redirected) {
			window.location.assign(res.url);
		}
	});
</script>

