<list>
    <ul><a href="/project/llm">LLM</a></ul>
    <ul><a href="/project/notecards">🂡 Notecards</a></ul>
    <ul><a href="/project/progress">✓ Progress</a></ul>
    <ul><a href="/project/sources">✎ Sources</a></ul>
    <ul><a href="/project/syllabus">📜 Syllabus</a></ul>
    <ul><a href="/project/todo">🔨 To Do</a></ul>
</list>

 <style>
    list {
        width: 12vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        
        position: fixed;
        left: 0;
        top: 0;

        background-color: rgba(0,0,0,0.6);
        border-right: solid 2px lightgrey;
    }

    ul {
        list-style-type: none;
        transition: 0.2s;
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul:hover {
        scale: 1.1;
    }

 </style>