---
import type DatabaseTask from "../lib/task_database.ts"

interface Props {
 task: DatabaseTask;
}

const { task } = Astro.props
---

<div class="db-task">
  <table>
    <tr>
      <td class="complete-cell">
        <form action={`/api/tasks/${task.primary_id}`} method="get">
          <button type="submit" class="complete-button">
          ✔
          </button>
        </form>
      </td>
      <td class="task-name-cell">
        <h2 class="task-name">{task.task.name}</h2>
      </td>
      <td class="due-date-cell">
        <p><strong>Due: </strong>{task.task.due_date ? new Date(new Date(task.task.due_date).toDateString()).toLocaleDateString("en-US", { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) : ""}</p>
      </td>
    </tr>
  </table>
</div>

<style>
  .db-task {
    display: flex;
    padding: 0.25rem;
    border: 1px solid var(--color-surface-mixed-200);
    border-radius: 4px;
    margin-bottom: 0.5rem;
    background-color: var(--color-surface-mixed-200);
    color: gray;
    align-items: center;
    
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    padding: 0.2rem;
  }

  .complete-cell {
    width: 6%;
    text-align: center; 
  }

  .task-name-cell {
    width: 59%;
    text-align: center;
  }

  .due-date-cell {
    width: 35%;
    text-align: center;
    text-decoration: line-through;
  }

  .task-name {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-decoration: line-through;
  }

  .complete-button {
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    color: lightgray;
    text-decoration: none;
  }

  .complete-button:hover {
    border-color: #45a049;
  }

  .icon {
    width: 14px;
    height: 14px;
    stroke: currentColor;
    stroke-width: 2;
    fill: none;
  }
</style>
