---


interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
    </head>
    <body>
        <div class="page-container">
            <nav class="nav" id="sidebar">
                <div class="logo">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="38px"
                        height="38px"
                        viewBox="0 0 38 37"
                        version="1.1"
                    >
                        <g id="surface1">
                            <path
                                style=" stroke:none;fill-rule:nonzero;fill:rgb(89.411765%,12.156863%,18.039216%);fill-opacity:1;"
                                d="M 14.09375 6.203125 C 14.238281 6.21875 14.382812 6.234375 14.527344 6.25 C 14.839844 6.285156 15.148438 6.320312 15.460938 6.355469 C 15.910156 6.40625 16.359375 6.453125 16.808594 6.503906 C 17.539062 6.585938 18.269531 6.667969 18.996094 6.746094 C 19.0625 6.753906 19.0625 6.753906 19.128906 6.761719 C 19.394531 6.792969 19.660156 6.820312 19.925781 6.851562 C 20.324219 6.894531 20.722656 6.941406 21.121094 6.984375 C 21.164062 6.988281 21.207031 6.992188 21.253906 7 C 21.980469 7.078125 22.707031 7.160156 23.4375 7.242188 C 23.925781 7.296875 24.414062 7.351562 24.902344 7.40625 C 25.203125 7.4375 25.507812 7.472656 25.8125 7.503906 C 25.953125 7.519531 26.09375 7.535156 26.234375 7.550781 C 26.425781 7.574219 26.617188 7.59375 26.808594 7.617188 C 26.863281 7.621094 26.921875 7.628906 26.976562 7.636719 C 27.222656 7.664062 27.460938 7.6875 27.710938 7.679688 C 27.792969 7.519531 27.875 7.359375 27.957031 7.195312 C 28.367188 7.152344 28.609375 7.285156 28.949219 7.496094 C 28.949219 7.535156 28.949219 7.578125 28.949219 7.617188 C 28.992188 7.570312 28.992188 7.570312 29.039062 7.523438 C 29.285156 7.386719 29.488281 7.429688 29.753906 7.496094 C 29.96875 7.585938 30.171875 7.6875 30.375 7.800781 C 30.375 7.859375 30.375 7.917969 30.375 7.980469 C 30.429688 7.984375 30.484375 7.992188 30.539062 7.996094 C 30.777344 8.046875 30.925781 8.136719 31.117188 8.28125 C 31.226562 8.492188 31.214844 8.71875 31.179688 8.949219 C 30.964844 9.261719 30.730469 9.292969 30.375 9.371094 C 30.484375 9.566406 30.59375 9.761719 30.699219 9.957031 C 30.734375 10.015625 30.765625 10.078125 30.800781 10.136719 C 31 10.496094 31.207031 10.851562 31.414062 11.203125 C 32.644531 13.269531 32.644531 13.269531 32.605469 14.269531 C 32.4375 14.84375 31.753906 15.1875 31.253906 15.464844 C 30.453125 15.894531 29.621094 16.273438 28.785156 16.636719 C 28.722656 16.664062 28.65625 16.695312 28.589844 16.722656 C 28.527344 16.75 28.46875 16.773438 28.40625 16.800781 C 28.351562 16.824219 28.296875 16.847656 28.242188 16.871094 C 28.066406 16.933594 27.894531 16.964844 27.710938 16.988281 C 27.722656 17.046875 27.734375 17.109375 27.746094 17.167969 C 27.792969 17.394531 27.839844 17.621094 27.886719 17.847656 C 27.910156 17.941406 27.929688 18.039062 27.949219 18.136719 C 28.15625 19.128906 28.292969 20.082031 28.289062 21.097656 C 28.289062 21.148438 28.289062 21.199219 28.289062 21.253906 C 28.28125 24.164062 26.953125 26.894531 24.859375 28.960938 C 24.816406 29.003906 24.777344 29.042969 24.734375 29.089844 C 23.261719 30.628906 20.976562 31.292969 18.882812 31.382812 C 16.503906 31.449219 14.007812 30.820312 12.148438 29.320312 C 12.097656 29.28125 12.042969 29.238281 11.992188 29.195312 C 11.542969 28.824219 11.191406 28.390625 10.847656 27.929688 C 10.820312 27.894531 10.796875 27.859375 10.769531 27.824219 C 10.351562 27.269531 10.042969 26.683594 9.753906 26.058594 C 9.703125 25.957031 9.65625 25.855469 9.609375 25.753906 C 9.585938 25.703125 9.558594 25.652344 9.535156 25.601562 C 9.359375 25.242188 9.148438 24.933594 8.898438 24.621094 C 7 22.160156 5.875 19.605469 6.230469 16.484375 C 6.355469 15.625 6.699219 14.726562 7.316406 14.085938 C 7.355469 14.085938 7.398438 14.085938 7.4375 14.085938 C 7.445312 14.152344 7.449219 14.21875 7.453125 14.285156 C 7.546875 15.417969 7.898438 16.300781 8.554688 17.230469 C 8.660156 17.382812 8.765625 17.535156 8.871094 17.6875 C 8.898438 17.722656 8.921875 17.761719 8.949219 17.796875 C 9.222656 18.195312 9.449219 18.617188 9.671875 19.042969 C 9.667969 18.984375 9.667969 18.925781 9.667969 18.867188 C 9.671875 17.988281 10.003906 17.265625 10.632812 16.632812 C 11.285156 16.082031 11.285156 16.082031 11.59375 16.082031 C 11.59375 16.121094 11.597656 16.160156 11.601562 16.199219 C 11.660156 17.03125 11.660156 17.03125 11.785156 17.859375 C 11.992188 18.972656 11.71875 19.949219 11.3125 20.980469 C 10.660156 22.675781 10.859375 24.511719 11.605469 26.144531 C 11.78125 26.511719 12.007812 26.832031 12.273438 27.144531 C 12.3125 27.191406 12.351562 27.238281 12.390625 27.289062 C 13.152344 28.183594 14.125 28.617188 15.300781 28.734375 C 16.644531 28.78125 17.898438 28.269531 18.878906 27.390625 C 19.246094 27.015625 19.523438 26.570312 19.808594 26.136719 C 20.300781 25.386719 20.816406 24.691406 21.429688 24.03125 C 21.527344 23.929688 21.621094 23.828125 21.714844 23.722656 C 21.960938 23.453125 22.207031 23.199219 22.492188 22.964844 C 22.664062 22.824219 22.832031 22.671875 23 22.523438 C 23.058594 22.472656 23.117188 22.417969 23.175781 22.367188 C 23.21875 22.328125 23.261719 22.289062 23.308594 22.25 C 23.101562 21.242188 22.820312 20.308594 22.316406 19.40625 C 22.308594 19.523438 22.308594 19.523438 22.296875 19.640625 C 22.140625 21.480469 21.492188 23.050781 20.035156 24.261719 C 19.101562 24.957031 17.984375 25.25 16.820312 25.125 C 15.9375 25.003906 15.179688 24.628906 14.503906 24.0625 C 14.457031 24.027344 14.40625 23.988281 14.355469 23.953125 C 14.171875 23.800781 14.03125 23.632812 13.890625 23.449219 C 13.863281 23.414062 13.835938 23.378906 13.808594 23.34375 C 13.730469 23.242188 13.652344 23.136719 13.574219 23.035156 C 13.539062 22.984375 13.503906 22.9375 13.46875 22.890625 C 12.566406 21.546875 12.371094 19.738281 12.683594 18.195312 C 12.917969 17.140625 13.347656 16.230469 14.070312 15.417969 C 14.121094 15.355469 14.167969 15.292969 14.21875 15.226562 C 14.914062 14.484375 15.949219 13.894531 16.996094 13.835938 C 17.632812 13.816406 18.234375 13.820312 18.84375 14.027344 C 18.894531 14.042969 18.945312 14.058594 19 14.074219 C 20.007812 14.414062 20.824219 15.21875 21.386719 16.082031 C 21.527344 16.054688 21.667969 16.027344 21.808594 16 C 21.953125 15.972656 22.097656 15.945312 22.242188 15.921875 C 22.304688 15.910156 22.304688 15.910156 22.367188 15.898438 C 22.488281 15.878906 22.605469 15.859375 22.722656 15.839844 C 22.957031 15.773438 23.078125 15.707031 23.246094 15.539062 C 23.320312 15.382812 23.320312 15.382812 23.359375 15.21875 C 23.375 15.167969 23.386719 15.113281 23.402344 15.058594 C 23.414062 15.015625 23.421875 14.976562 23.433594 14.933594 C 23.398438 14.933594 23.363281 14.933594 23.328125 14.9375 C 23.167969 14.941406 23.007812 14.945312 22.847656 14.949219 C 22.765625 14.949219 22.765625 14.949219 22.683594 14.953125 C 22.171875 14.960938 21.75 14.828125 21.367188 14.484375 C 21.308594 14.433594 21.308594 14.433594 21.25 14.382812 C 20.976562 14.101562 20.757812 13.78125 20.539062 13.460938 C 20.40625 13.269531 20.285156 13.125 20.085938 13 C 20.117188 13.054688 20.144531 13.109375 20.179688 13.167969 C 20.269531 13.359375 20.269531 13.359375 20.269531 13.542969 C 18.851562 13.214844 17.792969 12.171875 16.945312 11.070312 C 16.324219 10.269531 15.609375 9.640625 14.566406 9.492188 C 14.378906 9.46875 14.195312 9.449219 14.011719 9.429688 C 14.1875 9.257812 14.394531 9.238281 14.632812 9.191406 C 14.683594 9.179688 14.734375 9.167969 14.785156 9.15625 C 16.257812 8.859375 17.695312 8.816406 19.09375 9.429688 C 19.132812 9.449219 19.171875 9.464844 19.210938 9.484375 C 19.441406 9.585938 19.671875 9.6875 19.898438 9.792969 C 19.777344 9.613281 19.652344 9.433594 19.527344 9.25 C 19.546875 9.210938 19.566406 9.171875 19.589844 9.128906 C 19.621094 9.144531 19.652344 9.160156 19.683594 9.175781 C 20.617188 9.621094 21.546875 9.5 22.523438 9.277344 C 23.464844 9.0625 24.480469 8.960938 25.347656 9.460938 C 25.824219 9.792969 25.96875 10.203125 26.070312 10.746094 C 26.101562 11.019531 26.101562 11.019531 26.222656 11.246094 C 26.207031 11.410156 26.179688 11.578125 26.15625 11.742188 C 26.144531 11.914062 26.144531 11.914062 26.25 12.023438 C 26.363281 12.175781 26.367188 12.246094 26.367188 12.429688 C 26.367188 12.480469 26.367188 12.535156 26.367188 12.589844 C 26.367188 12.644531 26.367188 12.699219 26.363281 12.757812 C 26.363281 12.8125 26.363281 12.871094 26.363281 12.929688 C 26.339844 13.976562 26.339844 13.976562 26.085938 14.339844 C 25.878906 14.46875 25.722656 14.496094 25.476562 14.511719 C 25.519531 14.667969 25.558594 14.828125 25.601562 14.992188 C 25.71875 14.96875 25.71875 14.96875 25.835938 14.941406 C 26.339844 14.832031 26.832031 14.75 27.347656 14.738281 C 27.902344 14.710938 28.417969 14.578125 28.945312 14.421875 C 29.101562 14.378906 29.257812 14.335938 29.414062 14.292969 C 30.058594 14.109375 30.664062 13.929688 31.058594 13.359375 C 30.964844 13.421875 30.964844 13.421875 30.871094 13.480469 C 30.734375 13.519531 30.734375 13.519531 30.625 13.542969 C 30.457031 13.121094 30.308594 12.695312 30.160156 12.269531 C 29.984375 11.769531 29.804688 11.273438 29.625 10.777344 C 29.601562 10.714844 29.601562 10.714844 29.578125 10.648438 C 29.5 10.4375 29.421875 10.230469 29.347656 10.019531 C 29.320312 9.945312 29.289062 9.867188 29.261719 9.792969 C 29.238281 9.726562 29.214844 9.65625 29.1875 9.589844 C 29.136719 9.429688 29.136719 9.429688 29.136719 9.308594 C 29.074219 9.324219 29.011719 9.335938 28.945312 9.351562 C 28.859375 9.367188 28.777344 9.382812 28.695312 9.402344 C 28.652344 9.410156 28.609375 9.417969 28.570312 9.425781 C 28.320312 9.476562 28.085938 9.511719 27.832031 9.492188 C 27.65625 9.367188 27.65625 9.367188 27.523438 9.191406 C 27.503906 8.960938 27.503906 8.960938 27.523438 8.765625 C 27.351562 8.71875 27.1875 8.695312 27.007812 8.679688 C 26.953125 8.675781 26.898438 8.671875 26.84375 8.667969 C 26.753906 8.664062 26.753906 8.664062 26.664062 8.65625 C 26.601562 8.652344 26.539062 8.648438 26.476562 8.640625 C 26.265625 8.625 26.054688 8.613281 25.84375 8.597656 C 25.695312 8.585938 25.542969 8.574219 25.394531 8.5625 C 25.070312 8.539062 24.742188 8.515625 24.417969 8.492188 C 23.90625 8.453125 23.390625 8.417969 22.878906 8.378906 C 22.703125 8.367188 22.527344 8.351562 22.351562 8.339844 C 22.308594 8.335938 22.265625 8.335938 22.21875 8.332031 C 21.71875 8.292969 21.21875 8.257812 20.71875 8.21875 C 20.652344 8.214844 20.652344 8.214844 20.582031 8.210938 C 19.839844 8.15625 19.101562 8.101562 18.359375 8.046875 C 17.601562 7.992188 16.839844 7.9375 16.082031 7.878906 C 15.613281 7.847656 15.144531 7.8125 14.675781 7.777344 C 14.316406 7.753906 13.957031 7.726562 13.597656 7.699219 C 13.449219 7.6875 13.300781 7.675781 13.15625 7.667969 C 12.953125 7.652344 12.753906 7.636719 12.550781 7.621094 C 12.464844 7.617188 12.464844 7.617188 12.375 7.609375 C 11.882812 7.570312 11.445312 7.453125 11.019531 7.203125 C 10.964844 7.171875 10.910156 7.140625 10.855469 7.109375 C 10.800781 7.074219 10.746094 7.042969 10.6875 7.007812 C 10.632812 6.976562 10.578125 6.945312 10.519531 6.910156 C 10.210938 6.730469 10.210938 6.730469 10.105469 6.648438 C 10.105469 6.609375 10.105469 6.570312 10.105469 6.53125 C 10.363281 6.433594 10.625 6.34375 10.886719 6.253906 C 10.996094 6.214844 10.996094 6.214844 11.105469 6.171875 C 11.179688 6.148438 11.253906 6.125 11.328125 6.097656 C 11.394531 6.074219 11.457031 6.050781 11.527344 6.027344 C 12.296875 5.847656 13.3125 6.113281 14.09375 6.203125 Z M 28.761719 7.738281 C 28.742188 7.820312 28.722656 7.898438 28.703125 7.980469 C 28.742188 7.902344 28.785156 7.820312 28.824219 7.738281 C 28.804688 7.738281 28.785156 7.738281 28.761719 7.738281 Z M 28.640625 7.980469 C 28.703125 8.101562 28.703125 8.101562 28.703125 8.101562 Z M 15.25 16.203125 C 14.230469 17.382812 13.984375 18.753906 14.070312 20.253906 C 14.1875 21.328125 14.761719 22.480469 15.613281 23.179688 C 16.332031 23.703125 17.023438 23.878906 17.914062 23.820312 C 18.636719 23.703125 19.234375 23.320312 19.710938 22.792969 C 19.425781 22.792969 19.21875 22.941406 18.96875 23.070312 C 18.449219 23.308594 17.78125 23.292969 17.242188 23.117188 C 16.496094 22.8125 16.015625 22.273438 15.707031 21.558594 C 15.191406 20.238281 15.148438 18.632812 15.738281 17.328125 C 16.085938 16.605469 16.515625 16.035156 17.304688 15.722656 C 17.914062 15.554688 18.578125 15.601562 19.152344 15.851562 C 19.195312 15.867188 19.234375 15.882812 19.277344 15.898438 C 19.320312 15.878906 19.359375 15.859375 19.402344 15.839844 C 18.058594 14.765625 16.429688 14.988281 15.25 16.203125 Z M 15.25 16.203125 "
                            ></path>
                        </g>
                    </svg>
                    <span id="website-name" class="website-name">YAPP</span>
                </div>
                <div class="divider"></div>
                <ul>
                    <li class="home">
                        <a href="/"
                            ><svg
                                class="w-[24px] h-[24px] text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Home</a
                        >
                    </li>
                </ul>
                <div class="divider"></div>
                <ul>
                    <li>
                        <a href="/project/sources" data-astro-prefetch="tap"
                            ><svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Sources</a
                        >
                    </li>
                    <li>
                        <a href="/project/notecards" data-astro-prefetch="tap">
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6Zm4.996 2a1 1 0 0 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 8a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4.004 3a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 11a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-4.004 3a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM11 14a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Notecards</a
                        >
                    </li>
                    <li>
                        <a href="/project/progress" data-astro-prefetch="tap">
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207"
                                ></path>
                            </svg>
                            Progress</a
                        >
                    </li>
                    
                    <li>
                        <a href="/project/syllabus" data-astro-prefetch="tap">
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Syllabus</a
                        >
                    </li>
                    <li>
                        <a href="/project/todo" data-astro-prefetch="tap">
                            <svg
                                class="w-6 h-6 text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2.6"
                                    d="M12 6h8m-8 6h8m-8 6h8M4 16a2 2 0 1 1 3.321 1.5L4 20h5M4 5l2-1v6m-2 0h4"
                                ></path>
                            </svg>

                            To Do</a
                        >
                    </li>
                </ul>
                
                <button class="toggle-btn" id="toggle-btn">
                    <svg
                        class="w-[48px] h-[48px] text-gray-800 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="40"
                        height="40"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-width="2.2"
                            d="M5 7h14M5 12h14M5 17h14"></path>
                    </svg>
                </button>
            </nav>
            <div id="page">
                <slot />
            </div>
        </div>
    </body>
</html>
<style>
    .nav.collapsed {
        width: 4.2rem;
        font-size: 0;
    }

    .website-name {
        font-size: 1.5rem;
        padding: 0;
    }

    .website-name-collapse {
        font-size: 0;
    }

    .nav.collapsed ~ #page {
        margin-left: 4.2rem;
        width: calc(100vw - 1.5rem - 4.2rem);
        max-width: calc(100vw - 1.5rem - 4.2rem);
    }

    .nav svg {
        padding-right: 1rem;
        flex: none;
    }
    .home {
        margin: 0rem, 0.8rem;
    }
    .nav {
        width: 12vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgb(18, 34, 58);
        color: white;
        border-radius: 10px;
    }

    .nav .logo {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        gap: 0rem;
    }

    .nav .logo svg {
        padding-right: 0.5rem;
    }

    .nav .divider {
        height: 2px;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 0;
        padding: 0px;
    }

    .nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0.3rem;
    }

    .nav li {
        padding: 5px;
        border-radius: 10px;
        margin: 0.5rem 0.8rem;
        transition: background-color 0.3s;
    }

    .nav li:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: inherit;
    }

    .active {
        background-color: rgb(var(--accent-light), 0.2);
    }

    .nav i {
        margin-right: 10px;
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
        overflow-y: scroll;
    }
    *::-webkit-scrollbar {
        width: 16px;
    }

    *::-webkit-scrollbar-track {
        background: var(--color-surface-mixed-500);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--color-surface-mixed-300);
        border-radius: 10px;
        border: 3px solid var(--color-surface-mixed-500);
    }
    .page-container {
        display: flex;
        flex-direction: row;
        margin: 0;
        left: 0;
    }
    #page {
        width: calc(100vw - 1.5rem - 12vw);
        max-width: calc(100vw - 1.5rem - 12vw);
        text-align: center;
        align-items: center;
        color: white;
        margin-left: 12vw;
    }

    .toggle-btn {
        padding: 0;
        margin: 0;
        background-color: var(--color-surface-mixed-400);
        display: flex;
        position: fixed;
        bottom: 1.5rem;
        left: calc(2.1rem - 0.05rem - 22px);
        text-align: center;
        border-radius: 100%;
        padding: 0.1rem;
        text-decoration: none;
        color: white;
        font-weight: 800;
        transition: 0.2s;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border: none;
    }
    .toggle-btn:hover {
        background-color: var(--color-surface-mixed-300);
        scale: 1.1;
    }

    .toggle-btn svg {
        padding: 0.1rem;
    }
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            90deg,
            rgba(46, 126, 133, 1) 13%,
            rgba(0, 0, 121, 1) 61%,
            rgba(160, 239, 255, 1) 100%
        );
        --navbar-height: 8vh;
        --sidebar-width: 10vw;

        --color-primary-100: #127dff;
        --color-primary-200: #4e8aff;
        --color-primary-300: #6d98ff;
        --color-primary-400: #87a6ff;
        --color-primary-500: #9db4ff;
        --color-primary-600: #b3c2ff;
        /** CSS DARK THEME SURFACE COLORS */
        --color-surface-100: #121212;
        --color-surface-200: #282828;
        --color-surface-300: #3f3f3f;
        --color-surface-400: #575757;
        --color-surface-500: #717171;
        --color-surface-600: #8b8b8b;
        /** CSS DARK THEME MIXED SURFACE COLORS */
        --color-surface-mixed-100: #191c26;
        --color-surface-mixed-200: #2e313a;
        --color-surface-mixed-300: #454750;
        --color-surface-mixed-400: #5d5f67;
        --color-surface-mixed-500: #76777e;
        --color-surface-mixed-600: #8f9197;
    }

    @media only screen and (max-width: 1200px) {
        .website-name {
            font-size: 0;
        }

        .nav {
            width: 4.2rem;
            font-size: 0;
        }

        #page {
            margin-left: 4.2rem;
            width: calc(100vw - 1.5rem - 4.2rem);
            max-width: calc(100vw - 1.5rem - 4.2rem);
        }
        .toggle-btn {
            display: none;
        }
    }
</style>

<script>
    let current_main_path = window.location.pathname
        .split("/")
        .slice(0, 3)
        .join("/");
    const links = document.querySelectorAll("#sidebar li");
    links.forEach((link) => {
        let link_path = link.querySelector("a")!.getAttribute("href");

        if (link_path === current_main_path) {
            link.classList.add("active");
        } else {
            link.classList.remove("active");
        }
    });

    document
        .getElementById("toggle-btn")!
        .addEventListener("click", function () {
            let sidebar = document.getElementById("sidebar")!;
            let website_name = document.getElementById("website-name")!;

            website_name.classList.toggle("website-name-collapse");
            website_name.classList.toggle("website-name");
            sidebar.classList.toggle("collapsed");
        });
</script>
